version: '3.9'
services:
  backend:
    build:
      context: .
      target: dev
    container_name: nest-dev
    volumes:
      - .:/app
      - /app/node_modules
    ports:
      - "3000:3000"
    env_file:
      - .env.dev
    depends_on:
      - db

  db:
    image: postgres:16-alpine
    container_name: postgres-dev
    env_file:
      - .env
      
    ports:
      - "5432:5432"